repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NB: keep it the same as in pyproject.toml
    rev: v0.14.3
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
