include = ["src/**/*.py", "tests/**/*.py"]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

# Same as Black.
line-length = 120
indent-width = 2

# Assume Python 3.9
target-version = "py311"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`) codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["ALL"]
ignore = [
    "D", # docstrings
    "FIX002", # TODO comments
    "S324",
    "S602",

    "TD", # TODO
]


[lint.flake8-annotations]
mypy-init-return = true


[lint.per-file-ignores]
"docs/*" = [
    "INP001",  # implicit namespace
]
"tests/*" = [
    "INP001",  # file.py is part of implicit namespace package

    "PLR2004", # magic values

    "PT019", # no fixture attached

    "S101", # use of assert in test
]

"launcher.py" = [
    "T201", # print statement
]
